# Plantilla de Configuración
GO_PORT=3000
NODE_PORT=4000
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require
NODE_API_URL=http://localhost:4000
JWT_SECRET=your_jwt_secret_key
ENABLE_AUTH=false
